body {
    font-family: "Segoe UI",Arial, sans-serif;
    background: linear-gradient(to right, #f0f8ff, #e6f0ff);
    margin: 0;
    padding: 0;
    color: #333;
}
h1 {
    font-family: "Trebuchet MS", sans-serif;
    color: darkblue;
}
h2, h3 {
    font-family: "Trebuchet MS", sans-serif;
    color: #003366;
}
a {
    text-decoration: none;
    color: #0066cc;
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 5px;
    transition: 0.3s;
}
a:hover {
    background: #0066cc;
    color: white;
}
center {
    display: block;
    margin: 20px auto;
    padding: 15px;
    background: #ffffffcc;
    width: 80%;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(red, green, blue, alpha);
}
table {
    border-collapse: collapse;
    margin: 20px auto;
    width: 70%;
}
td {
    padding: 10px;
}
input, select {
    padding: 8px;
    width: 95%;
    border-radius: 6px;
    border: 1px solid #ccc;
}
input[type="submit"] {
    background: #0066cc;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}
input [type="sumbit"]:hover {
    background: #004080;
}
